.container{max-width:1170px;width:100%;padding:0 15px;margin:0 auto}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.btn{background-color:#e84545;color:#fff;font-size:13px;font-weight:600;border:0;display:inline-block;text-transform:uppercase;padding:15px 40px;margin-bottom:0;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer}.btn:focus,.btn:hover{background-color:#e52e2e;color:#fff}#banner{min-height:750px;width:100%;background-image:url(assets/images/banner.jpg);background-position:top;background-size:cover;background-repeat:no-repeat;padding:0 12px}#banner .pageHeader{position:fixed;z-index:1000;top:0;left:0;right:0}#banner .pageHeader .header-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:38.5px 0;border-bottom:1px solid hsla(0,0%,100%,.15);-webkit-transition:padding .3s;-o-transition:padding .3s;transition:padding .3s}@media screen and (max-width:992px){#banner .pageHeader .header-content{position:relative}}#banner .pageHeader .header-content .main-nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:538.64px}@media screen and (max-width:992px){#banner .pageHeader .header-content .main-nav{display:none}}#banner .pageHeader .header-content .main-nav li{margin:0}#banner .pageHeader .header-content .main-nav li a{text-transform:uppercase;color:hsla(0,0%,100%,.75);font:13px Raleway,sans-serif;font-weight:700}#banner .pageHeader .header-content .main-nav li a:hover{color:#fff}.bannerContent{text-align:center;max-width:920px;width:100%;margin:148px auto}.bannerContent p{color:#fff;font:22px Raleway,sans-serif;font-weight:300;line-height:1.5;margin-bottom:80px}.bannerContent .heading{margin-bottom:10px}.bannerContent .heading h1{display:block;padding-top:100px;color:#fff;font-family:Open Sans,sans-serif;font-size:65px;font-weight:700;text-transform:uppercase;line-height:1.1}.headerOnScroll{background-color:#292c47;position:fixed;scroll:smooth}.headerOnScroll .header-content{padding:25px 0!important;-webkit-transition:padding .3s;-o-transition:padding .3s;transition:padding .3s;border:none!important;scroll:smooth}@media screen and (max-width:992px){.navigation-open{opacity:.9;-webkit-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;position:fixed;background-color:#000;width:100%;height:100%;top:0;left:0;z-index:99999}}@media screen and (max-width:992px){.primary-nav{position:relative;top:25%;left:40%}}@media screen and (min-width:992px){.primary-nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:538.64px}}.primary-nav li{display:block;margin-bottom:20px}@media screen and (min-width:992px){.primary-nav li{margin:0}}.primary-nav li a{text-transform:uppercase;color:hsla(0,0%,100%,.75);font:25px Raleway,sans-serif;font-weight:700}@media screen and (min-width:992px){.primary-nav li a{text-transform:uppercase;color:hsla(0,0%,100%,.75);font:13px Raleway,sans-serif;font-weight:700}}.primary-nav li a:hover{color:#fff}.btn-nav-toggle{display:none}.btn-nav-toggle div{width:18px;height:3px;background:#fff;margin-bottom:3px;-webkit-transform-origin:left center;-ms-transform-origin:left center;transform-origin:left center}@media screen and (max-width:992px){.btn-nav-toggle{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:44px;z-index:99999;height:44px;overflow:hidden;position:absolute;top:calc(50% - 22px);right:10px;background-color:#e84545;border-radius:50%;cursor:pointer}}.btnToggleRotate>div:first-child{-webkit-transform:rotate(43deg);-ms-transform:rotate(43deg);transform:rotate(43deg);margin-left:5px}.btnToggleRotate>div:last-child{-webkit-transform:rotate(-43deg);-ms-transform:rotate(-43deg);transform:rotate(-43deg);margin-left:5px}.btnToggleRotate>div:nth-child(2){opacity:0}#pageFooter{margin-top:auto;color:#fff;text-align:center;font-size:14px}#pageFooter p{color:hsla(0,0%,100%,.5);margin-bottom:10px;line-height:1.6}.footerTop{background-color:#3a3e64;padding-top:50px}.footerContainer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}@media screen and (min-width:992px){.footerContainer{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}}.footerItem{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-bottom:50px}@media screen and (min-width:768px){.footerItem{margin-bottom:80px}}.footerItem h5{text-transform:uppercase;margin:10px 0 20px;font-weight:700;line-height:1.1}.footerItem li{display:inline-block}.footerItem a{border-width:2px!important}.footerItem a:active,.footerItem a:hover{border-color:#e84545;background-color:#e84545}.footerBottom{background-color:#313454;padding:20px 0}.footerBottom a{color:#fff}.footerBottom a:hover{color:#e84545}.footerBottom i{color:#e84545}#features{min-height:728px;width:100%;padding-top:100px}#features #featuresContentWrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly;padding:0 15px}#features #featuresContentWrapper .featureContainer{width:33.33333%}@media screen and (max-width:992px){#features #featuresContentWrapper .featureContainer{width:50%}}@media screen and (max-width:768px){#features #featuresContentWrapper .featureContainer{width:100%}}#features #featuresContentWrapper .feature-content{padding:0 30px;margin-bottom:50px;text-align:center}#features #featuresContentWrapper .feature-content .icon{font-family:elegant-theme-line;speak:none;font-style:normal;font-weight:400;font-variant:normal;line-height:1;width:60px;margin:0 auto 15px}#features #featuresContentWrapper .feature-content h5{line-height:34px;font-size:14px;color:#2d3033;text-transform:uppercase;font-weight:700}#features #featuresContentWrapper .feature-content p{font-size:14px;line-height:22.4px;color:#6c7279;margin:0 0 10px}.projectsWrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:stretch;-ms-flex-pack:stretch;justify-content:stretch;-ms-flex-wrap:wrap;flex-wrap:wrap}.projectsWrapper .projectContainer{width:25%;position:relative;cursor:pointer;overflow:hidden;border:.5px solid #fff;-webkit-transition:padding .3s ease-in-out,margin-top .3s ease-in-out!important;-o-transition:.3s padding ease-in-out,.3s margin-top ease-in-out!important;transition:padding .3s ease-in-out,margin-top .3s ease-in-out!important}@media screen and (max-width:992px){.projectsWrapper .projectContainer{width:50%}}@media screen and (max-width:576px){.projectsWrapper .projectContainer{width:100%}}.projectsWrapper .projectContainer img{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}.projectsWrapper .projectContainer .overlay-caption{background:#e84545;position:absolute;z-index:-1;top:0;right:0;bottom:0;left:0;color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.projectsWrapper .projectContainer .overlay-caption h5{position:absolute;font-weight:700;text-transform:uppercase;margin-top:-120px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.projectsWrapper .projectContainer .overlay-caption p{position:absolute;display:block;margin-top:120px;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.projectContainer:hover .overlay-caption{z-index:1;opacity:.9;-webkit-transition:padding .5s ease-in-out;-o-transition:.5s padding ease-in-out;transition:padding .5s ease-in-out}.projectContainer:hover .overlay-caption>h5{margin-top:-15px}.projectContainer:hover .overlay-caption>p{margin-top:15px}.projectContainer:hover img{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}.overlayViewContainer{display:none}.overlayViewContainerOpened{display:-webkit-box;display:-ms-flexbox;display:flex;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;background:url(assets/images/fancybox_overlay.png);-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.overlayViewContainerOpened .overlayViewWindow{position:relative;width:680px;height:auto;padding:15px;background:#fff;border-radius:4px}@media screen and (max-width:576px){.overlayViewContainerOpened .overlayViewWindow{width:300px}}.overlayViewContainerOpened .overlayViewWindow img{width:100%}.overlayViewContainerOpened #closeOverlayViewWindow{cursor:pointer;position:absolute;top:-18px;right:-18px;width:36px;height:36px;background:url(assets/images/fancybox_sprite.png)}.teams{padding:100px 50px}.teams .teamContainer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 10%}@media screen and (max-width:768px){.teams .teamContainer{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}}@media screen and (max-width:576px){.teams .teamContainer{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}}.teams .teamContainer .person{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:270px}.teams .teamContainer .person img{display:block;max-width:100%;height:auto;margin:0 auto}.teams .teamContainer .person .social-icons{margin-top:auto;-ms-flex-item-align:start;align-self:flex-start;margin-bottom:15px;display:-webkit-box;display:-ms-flexbox;display:flex}.teams .teamContainer .person .social-icons li:hover a{background:#e84545;border-color:#e84545;color:#fff}.teams .teamContainer .person .social-icons li a{border:1px solid #e8ecee;border-radius:2px;color:#c6cacc;display:block;font-size:18px;height:40px;line-height:40px;margin-right:5px;text-align:center;width:40px}.teams .teamContainer .person .person-content{margin-top:20px;text-align:left}.teams .teamContainer .person .person-content h4{display:block;margin-bottom:10px;font-size:22px;color:#2d3033;font-weight:400}.teams .teamContainer .person .person-content h5{display:block;color:#e84545;font-size:13px;font-weight:400;margin-bottom:20px}.teams .teamContainer .person .person-content p{display:block;margin-bottom:10px;font-size:14px;line-height:22.4px;color:#6c7279}#download{margin:100px 0}#download .download-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center}#download .download-content h3{font-size:28px;color:#2d3033;font-weight:300;margin-bottom:10px}#download .download-content p{color:#2d3033;font-weight:600;text-transform:uppercase;font-size:14px;line-height:22.4px}#download .download-content .btn-download{margin-top:30px}.sliderContainer{background:#53354a;width:100%}.sliderContainer div{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:100%;overflow:hidden}@media screen and (max-width:992px){.sliderContainer{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}.sliderImageContainer{width:50%;max-height:475px;overflow:hidden;opacity:1;-webkit-transition:opacity .4s;-o-transition:.4s opacity;transition:opacity .4s}@media screen and (max-width:992px){.sliderImageContainer{width:100%;height:50%}}.sliderImageContainer img{opacity:1;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center}.sliderInfoContainer{width:50%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:100px 145px}@media screen and (max-width:992px){.sliderInfoContainer{width:100%;height:50%;min-height:200px}}@media screen and (max-width:768px){.sliderInfoContainer{min-height:400px}}.sliderInfoContainer p{color:#fff;font:italic 36px Cardo,Georgia,Times New Roman,serif}.sliderInfoContainer span{color:#fff;font-size:13px;font-weight:600;margin-top:30px;text-transform:uppercase}.sliderNavigation{position:absolute;bottom:7%;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-item-align:center;align-self:center}.sliderNavigation div{width:13px;height:13px;border-radius:50%;background:#755d6e;-webkit-transition:background .3s;-o-transition:.3s background;transition:background .3s;cursor:pointer}.sliderNavigation div :hover{background:#fff}.sliderNavigation div+div{margin-left:10px}.activeSlide{background:#fff!important}.fade{opacity:0!important}*{-webkit-box-sizing:border-box;box-sizing:border-box;scroll-behavior:smooth}body{min-height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;font-family:Raleway,sans-serif;font-weight:400;width:100vw;overflow-x:hidden}.footerItem a,.socialIcons{border:1px solid #e8ecee;border-radius:2px;display:block;width:40px;height:40px;line-height:40px}a{text-decoration:none;color:inherit}a:active,a:hover{-webkit-transition:background-color,color,.3s;-o-transition:background-color,color,.3s;transition:background-color,color,.3s}
